<html>
  <head>
    <title>Dogs</title>
  </head>

  <body>
    <div>
      <h1><%= @title %></h1>
      <p>
        <a href="/dogs/new">Create a new dog</a>
      </p>

      <ul>
        <% @dogs.each do |dog| %>
          <li>
            id: <%= dog.id %> -- name: <%= dog.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
