<html>
  <head>
    <title>Cats</title>
  </head>

  <body>
    <form action="/cats" method="POST">
    <div>
      <h1>Cats</h1>
      <p>
        <a href="/cats">Back to the list</a>
      </p>
      <p>
        <code><%= @title %></code>
      </p>
    </div>
  </body>
</html>
